
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Logo -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Portfolio</a><!---Move the Location of the title Because it looks like a link-->
            </div>

            <!-- Menu Items -->
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li><!---Link to the Home APP-->
                    <li><a href="{% url 'Portfolio:Resume' %}">Resume</a></li><!---#Link to the Porfolio APP-->
                    <li><a href="#footer">Contact</a></li><!---#Move to the bottom of the home page-->
                </ul>
            </div>

        </div>
    </nav>



{% block content %} {% endblock %}

</body>
</html>


